<li>
	{{name}}

	<button class="complete-task" data-id="{{id}}" data-newTask="{{task}}">
		{{#if task}}Complete Task!!{{else}}Delete!{{/if}}
	</button>

	<button class="forget-task" data-id="{{this.id}}">DELETE!</button>
</li>
