<div class="container">
    <div class="content">
        <h1>Write Task to be Completed</h1>
        <p>Tasks , Tasks completed</p>
        <br>
        <h2>Select a Task</h2>

        <form class="create-form">
            <div class="form-group">
                <label for="newTask">Create new Task</label>
                <input type="text" id="newTask" name="task">
                <button type="submit" class="btn btn-success" id="add-task">
                    <span class="fa fa thumbs-up"></span>
                </button>
            </div>
        </form>


    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">

                    <ul>
                        {{#each tasks}}
                            {{#unless completed}}
                                <span><strong> {{this.id}} - {{this.task}}</strong></span>
                                <button type="button" class="complete-task" id="complete" data-id="{{this.id}}"
                                data-newCompleted={{complete}}><span></span></button>
                            {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside"><strong>Complete the Task</strong></div>
                <div class="panel-body">

                    <ul>
                        {{#each tasks}}
                            {{#if completed}}
                                <span><strong> {{this.id}} - {{this.task}}</strong></span>
                                <button type="button" class="forget-task" id="forget" data-id="{{this.id}}"
                                data-newCompleted={{complete}}><span class="forgotten"></span></button>
                            {{/if}}
                        {{/each}}
                    </ul>
  
                </div>
            </div>
        </div>


    </div>
</div>