<div class="container">
    <div class="content">
        <h1>Write Task to be Completed</h1>
        <p>Tasks , Tasks completed</p>
        <br>
        <h2>Select a Task</h2>

        <form class="create-form">
            <div class="form-group">
                <label for="newTask">Create new Task</label>
                <input type="text" id="newTask" name="task">
                <button type="submit" class="submit" id="add-task">
                    <span class="fa fa thumbs-up"></span>
                </button>
            </div>
        </form>


    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">

                    <ul>
                        {{#each tasks}}
                            {{#unless completed}}
                                <span>{{this.id}} - {{this.task}}</span>
                                <button type="button" class="complete-task" id="complete" data-id="{{this.id}}"
                                data-newCompleted="{{complete}}"></button>
                            {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside"><strong>Complete the Task</strong></div>
                <div class="panel-body">

                    <ul>
                        {{#each tasks}}
                            {{#if completed}}
                                <span>{{this.id}} - {{this.task}}</span>
                                <button type="button" class="forget-task" id="forget" data-id="{{this.id}}"
                                data-newCompleted="{{complete}}"></button>
                            {{/if}}
                        {{/each}}
                    </ul>
  
                </div>
            </div>
        </div>


    </div>
</div>



{{!-- <div class="container">
    <h1>Bucket List</h1>

    <h2>Tasts to be completed!</h2>

    <ul>
    {{#each tasks}}
        {{#unless completed}}
        {{> tasks/block task=true}}
        {{/unless}}
    {{/each}}
    </ul>

    <h2>Tasks that are completed!</h2>

    <ul>
    {{#each tasks}}
        {{#if completed}}
        {{> tasks/block task=false}}
        {{/if}}
    {{/each}}
    </ul>

    <h2>Add a Cat</h2>
    <form class="create-form">

    <div class="form-group">
        <label for="ca">Task:</label>
        <input type="text" id="ca" name="name">
    </div>

    <div class="form-group">
        <label for="completed">completed?</label><br>
        <input type="radio" name="completed" value="1" checked> completed!<br>
        <input type="radio" name="completed" value="0"> Finished
    </div>

    <button type="submit">Add task</button>
    </form>
</div> --}}